/* Custom Editor Styles */

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

body#tinymce.wp-editor .portfolio-info {
	font-family: "Roboto Slab", serif;
	font-size: 20px;
	text-transform: lowercase;
}